      <link itemprop="url" href="https://dri.es" />
      <meta itemprop="name" content="Dries Buytaert" />
      <meta itemprop="givenName" content="Dries" />
      <meta itemprop="familyName" content="Buytaert" />
      <meta itemprop="birthDate" content="1978-11-19T05:00:00-05:00" />
      <meta itemprop="jobTitle" content="Founder and Project Lead of Drupal" />
      <meta itemprop="jobTitle" content="Founder and CTO of Acquia" />
      <meta itemprop="worksFor" content="Acquia" />
      <meta itemprop="gender" content="Male" />