
<div class="subscribe-bar clearfix">
  <p class="subscribe-bar__label">Join more than 5,000 others receiving these blog posts by email</p>
  <form action="//buytaert.us8.list-manage.com/subscribe/post?u=eb2d2e4ce44bb8c74fdb0b23e&amp;id=ad7379819d" method="post" class="subscribe-bar__form mc-embedded-subscribe-form validate clearfix" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <label for="ml-email" class="visually-hidden">Enter your e-mail address</label>
    <input type="email" value="" name="EMAIL" id="ml-email" class="email" placeholder="Enter your e-mail address" required>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_eb2d2e4ce44bb8c74fdb0b23e_ad7379819d" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" class="button">
    <a class="subscribe-bar__close" href="#">&times;</a>
  </form>
</div>